@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Black.eot");
  src: local("Cera Pro Black"), local("CeraPro-Black"), url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a {
  color: inherit;
}

a,
button,
input,
textarea {
  font-family: "Cera Pro", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1424px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.title {
  margin: 0 0 80px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  color: #000;
}
@media (max-width: 992px) {
  .title {
    margin-bottom: 40px;
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .title {
    margin-bottom: 32px;
    font-size: 24px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 32px 0;
}
@media (max-width: 576px) {
  .header {
    padding: 16px 0;
  }
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px 24px;
}
@media (max-width: 992px) {
  .header .container {
    flex-wrap: wrap;
  }
}
.header__logo {
  flex: 0 0 auto;
  order: 0;
}
.header__logo-link {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1200px) {
  .header__logo-link {
    gap: 8px;
  }
}
.header__logo-link-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1200px) {
  .header__logo-link-image {
    width: 90px;
  }
}
@media (max-width: 576px) {
  .header__logo-link-image {
    width: 65px;
  }
}
.header__logo-link-text {
  display: inline-block;
  max-width: 146px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
@media (max-width: 992px) {
  .header__logo-link-text {
    max-width: 110px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .header__logo-link-text {
    display: none;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
}
@media (max-width: 992px) {
  .header__nav {
    flex: 1 1 100%;
    order: 2;
  }
}
.header__nav-link {
  flex: 0 0 auto;
  display: inline-block;
  padding: 12px 24px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000;
  border-radius: 32px;
  transition: background-color ease-in-out 0.2s;
}
@media (max-width: 768px) {
  .header__nav-link {
    padding: 8px 10px;
    font-size: 12px;
  }
}
.header__nav-link:hover {
  background-color: #ffe38a;
}
@media (max-width: 576px) {
  .header__nav-link:first-child {
    display: none;
  }
}
.header__nav-link.active {
  background-color: #ffe38a;
}
.header__nav-link.active:hover {
  background-color: #ffd859;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 auto;
  gap: 8px;
  order: 2;
}
@media (max-width: 992px) {
  .header__contacts {
    order: 1;
  }
}
.header__contacts-phone {
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: #4fb7b7;
}
@media (max-width: 1200px) {
  .header__contacts-phone {
    font-size: 28px;
  }
}
@media (max-width: 992px) {
  .header__contacts-phone {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header__contacts-phone {
    font-size: 20px;
  }
}
.header__contacts-address {
  max-width: 300px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  color: #000;
}
@media (max-width: 1200px) {
  .header__contacts-address {
    max-width: 240px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header__contacts-address {
    max-width: 200px;
    font-size: 12px;
  }
}

.footer {
  padding: 210px 0 130px;
  background: url(../assets/footer-bg.webp) top center/cover no-repeat;
}
@media (max-width: 992px) {
  .footer {
    padding: 140px 0 80px;
  }
}
@media (max-width: 576px) {
  .footer {
    background-size: auto 100%;
    padding: 40px 0;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-radius: 24px;
  background-color: #6fc6c6;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 0;
  }
}
.footer__contacts {
  flex: 0 1 auto;
  padding: 24px 24px 24px 86px;
}
@media (max-width: 1200px) {
  .footer__contacts {
    padding: 24px 40px 24px 40px;
  }
}
@media (max-width: 768px) {
  .footer__contacts {
    padding: 40px 20px;
  }
}
.footer__contacts-phone {
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0.04em;
  color: #fff;
}
@media (max-width: 992px) {
  .footer__contacts-phone {
    font-size: 24px;
  }
}
.footer__contacts-phone a {
  color: #fff;
  transition: color ease-in-out 0.2s;
}
.footer__contacts-phone a:hover {
  color: #ffe38a;
}
.footer__contacts-title {
  margin: 32px 0 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 992px) {
  .footer__contacts-title {
    font-size: 20px;
  }
}
.footer__contacts-text {
  margin: 8px 0 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000;
}
@media (max-width: 992px) {
  .footer__contacts-text {
    font-size: 16px;
  }
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px 0 0;
  padding-left: 34px;
}
.footer__contacts-list-item {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000;
}
@media (max-width: 992px) {
  .footer__contacts-list-item {
    font-size: 16px;
  }
}
.footer__contacts-list-item a {
  color: #000;
  transition: color ease-in-out 0.2s;
}
.footer__contacts-list-item a:hover {
  color: #ffe38a;
}
.footer__form {
  display: flex;
  flex-direction: column;
  flex: 0 2 auto;
  max-width: 592px;
  padding: 64px 88px 40px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #ffffff;
}
@media (max-width: 1200px) {
  .footer__form {
    max-width: 520px;
    padding: 64px 40px 40px;
  }
}
@media (max-width: 768px) {
  .footer__form {
    max-width: none;
    width: 100%;
    padding: 32px;
  }
}
.footer__form-title {
  margin: 0 0 24px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
@media (max-width: 992px) {
  .footer__form-title {
    font-size: 24px;
  }
}
.footer__form-input, .footer__form-textarea {
  display: inline-block;
  margin: 0 0 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  border: none;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  transition-property: border;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
@media (max-width: 992px) {
  .footer__form-input, .footer__form-textarea {
    font-size: 16px;
    padding-bottom: 16px;
  }
}
.footer__form-input:focus, .footer__form-textarea:focus {
  border-color: #6fc6c6;
}
.footer__form-input::-moz-placeholder, .footer__form-textarea::-moz-placeholder {
  color: #000;
}
.footer__form-input::placeholder, .footer__form-textarea::placeholder {
  color: #000;
}
.footer__form-textarea {
  min-height: 102px;
  resize: none;
}
@media (max-width: 992px) {
  .footer__form-textarea {
    min-height: 72px;
  }
}
.footer__form-button {
  display: inline-block;
  width: 100%;
  margin: 0 0 24px;
  padding: 29px;
  box-sizing: border-box;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 8px;
  background-color: #ffe38a;
  transition-property: filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .footer__form-button {
    padding: 16px 29px;
  }
}
.footer__form-button:hover {
  filter: contrast(0.86);
}
.footer__form-disclaimer {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}
.footer__form-disclaimer a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 0.5);
  transition: color ease-in-out 0.2s;
}
.footer__form-disclaimer a:hover {
  color: #6fc6c6;
}
.footer__bottom {
  padding: 40px 80px 0;
}
@media (max-width: 992px) {
  .footer__bottom {
    padding: 50px 0 0;
  }
}
.footer__bottom-copyright {
  max-width: 460px;
  margin: 0 0 24px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 576px) {
  .footer__bottom-copyright {
    margin-bottom: 12px;
    font-size: 12px;
  }
}
.footer__bottom-design {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 576px) {
  .footer__bottom-design {
    font-size: 12px;
  }
}
.footer__bottom-design a {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  transition: color ease-in-out 0.2s;
}
.footer__bottom-design a:hover {
  color: #ffe38a;
}

.first-screen {
  position: relative;
  padding: 251px 0 113px;
  overflow: hidden;
  background: url(../assets/main-bg.webp) center bottom/cover no-repeat;
}
@media (max-width: 768px) {
  .first-screen {
    background-size: 1000px;
    background-position: right -100px bottom;
  }
}
@media (max-width: 576px) {
  .first-screen {
    padding: 144px 0 225px;
    background-size: 800px;
    background-position: right -100px bottom;
  }
}
.first-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  z-index: 10;
  display: block;
  width: 100px;
  background: url(../assets/circles-bg.svg) top left/57px repeat;
  transform: translateX(-950px);
}
@media (max-width: 992px) {
  .first-screen::before {
    display: none;
  }
}
.first-screen__title {
  position: relative;
  z-index: 1;
  max-width: 540px;
  margin: 0 0 40px;
  padding: 27px 63px 21px 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  .first-screen__title {
    max-width: 460px;
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    max-width: none;
    padding: 22px 20px;
    margin: 0 0 16px;
    font-size: 38px;
  }
}
.first-screen__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
  display: block;
  background-color: #6fc6c6;
}
@media (max-width: 576px) {
  .first-screen__title::before {
    right: -20px;
  }
}
.first-screen__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -45px;
  bottom: 0;
  z-index: 10;
  display: none;
  width: 54px;
  background: url(../assets/circles-bg.svg) top right/32px repeat;
}
@media (max-width: 576px) {
  .first-screen__title::after {
    display: block;
  }
}
.first-screen__advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 590px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 576px) {
  .first-screen__advantages {
    gap: 6px;
  }
}
.first-screen__advantages-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 32px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #221e19;
  border-radius: 64px;
}
@media (max-width: 768px) {
  .first-screen__advantages-item {
    padding: 16px 28px;
  }
}
@media (max-width: 576px) {
  .first-screen__advantages-item {
    gap: 4px;
    padding: 8px 6px;
    font-size: 12px;
  }
}
.first-screen__advantages-item:nth-child(4n+1) {
  background-color: #d9d3ea;
}
.first-screen__advantages-item:nth-child(4n+2) {
  background-color: #f2c6c0;
}
.first-screen__advantages-item:nth-child(4n+3) {
  background-color: #ffe38a;
}
.first-screen__advantages-item:nth-child(4n+4) {
  background-color: #b2dada;
}
.first-screen__advantages-item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/check.svg) center/cover no-repeat;
}
@media (max-width: 576px) {
  .first-screen__advantages-item::before {
    width: 12px;
    height: 12px;
  }
}

.for-whom {
  margin: 120px 0;
  overflow: hidden;
}
@media (max-width: 992px) {
  .for-whom {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .for-whom {
    margin: 60px 0;
  }
}
.for-whom .title {
  max-width: 830px;
}
.for-whom__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1032px;
}
@media (max-width: 992px) {
  .for-whom__content {
    align-items: stretch;
  }
}
@media (max-width: 576px) {
  .for-whom__content {
    gap: 8px;
  }
}
.for-whom__content::before {
  content: "";
  position: absolute;
  top: -107px;
  left: calc(100% - 80px);
  z-index: 10;
  display: block;
  width: 440px;
  height: 613px;
  background: url(../assets/child.webp) center/cover no-repeat;
}
@media (max-width: 992px) {
  .for-whom__content::before {
    display: none;
  }
}
.for-whom__content::after {
  content: "";
  position: absolute;
  top: -34px;
  left: calc(100% - 60px);
  z-index: -1;
  display: block;
  width: 786px;
  height: 450px;
  background: url(../assets/playgfround.webp) center/cover no-repeat;
}
@media (max-width: 992px) {
  .for-whom__content::after {
    display: none;
  }
}
.for-whom__card {
  flex: 0 0 calc(33.3333333333% - 16px);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #ffe38a;
}
@media (max-width: 992px) {
  .for-whom__card {
    flex: 0 0 calc(50% - 12px);
    padding: 40px 32px;
  }
}
@media (max-width: 768px) {
  .for-whom__card {
    padding: 32px 20px;
  }
}
@media (max-width: 576px) {
  .for-whom__card {
    flex: 1 1 100%;
  }
}
.for-whom__card_school {
  order: 0;
  background-color: #ffe38a;
}
.for-whom__card_supermarket {
  order: 1;
  background-color: #f2c6c0;
}
.for-whom__card_park {
  order: 2;
  background-color: #b2dada;
}
.for-whom__card_building {
  order: 4;
  background-color: #d9d3ea;
}
@media (max-width: 992px) {
  .for-whom__card_building {
    order: 3;
  }
}
.for-whom__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-whom__card-figure-image {
  display: block;
  max-width: 100%;
  width: 60px;
  aspect-ratio: 1/1;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .for-whom__card-figure-image {
    width: 46px;
  }
}
.for-whom__card-title {
  margin: 24px 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
@media (max-width: 768px) {
  .for-whom__card-title {
    margin: 16px 0;
    font-size: 20px;
  }
}
.for-whom__card-text {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
@media (max-width: 768px) {
  .for-whom__card-text {
    font-size: 14px;
  }
}
.for-whom__info {
  flex: 1 1 50%;
  order: 3;
  padding: 56px 88px 0;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .for-whom__info {
    order: 4;
  }
}
@media (max-width: 768px) {
  .for-whom__info {
    padding: 0;
  }
}
.for-whom__info-text {
  margin: 0 0 40px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #000;
}
@media (max-width: 768px) {
  .for-whom__info-text {
    margin-bottom: 16px;
    font-size: 16px;
  }
}
.for-whom__info-title {
  max-width: 420px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 768px) {
  .for-whom__info-title {
    font-size: 16px;
  }
}

.portfolio {
  margin: 120px 0 80px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .portfolio {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .portfolio {
    margin: 60px 0 40px;
  }
}
.portfolio .title {
  max-width: 480px;
}
.portfolio__content .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 1200px) {
  .portfolio__content .swiper-wrapper {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .portfolio__content .swiper-wrapper {
    flex-wrap: nowrap;
    gap: 0;
  }
}
@media screen and (min-width: 768.1px) {
  .portfolio__content .swiper-wrapper {
    transform: none !important;
  }
}
.portfolio__content .swiper-slide {
  flex: 0 0 calc(25% - 18px);
}
@media (max-width: 1200px) {
  .portfolio__content .swiper-slide {
    flex: 0 0 calc(33.3333333333% - 16px);
  }
}
@media (max-width: 992px) {
  .portfolio__content .swiper-slide {
    flex: 0 0 calc(50% - 12px);
  }
}
@media (max-width: 992px) {
  .portfolio__content .swiper-slide {
    flex-basis: auto;
    width: 100%;
  }
}
@media screen and (min-width: 768.1px) {
  .portfolio__content .swiper-slide {
    margin: 0 !important;
  }
}
.portfolio__card {
  padding: 25px 24px 32px;
  border: 1px solid #e5e8ec;
  border-radius: 8px;
}
.portfolio__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 57px;
}
.portfolio__card-figure-image {
  display: block;
  max-width: 100%;
  width: 200px;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__card-title {
  margin: 0 0 32px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #0c0d12;
}
@media (max-width: 576px) {
  .portfolio__card-title {
    margin: 0 0 24px;
    font-size: 20px;
  }
}
.portfolio__card-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}
@media (max-width: 576px) {
  .portfolio__card-info {
    margin: 0 0 12px;
    font-size: 14px;
  }
}
.portfolio__card-info::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio__card-info_size::before {
  background-image: url(../assets/size.svg);
}
.portfolio__card-info_pieces::before {
  background-image: url(../assets/pieces.svg);
}
.portfolio__card-info_weight::before {
  background-image: url(../assets/weight.svg);
}
.portfolio__card-price {
  margin: 32px 0 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #0c0d12;
}
@media (max-width: 576px) {
  .portfolio__card-price {
    margin: 24px 0 0;
    font-size: 16px;
  }
}
.portfolio__controls {
  display: none;
}
@media (max-width: 768px) {
  .portfolio__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 24px 0 0;
  }
}
.portfolio__controls-prev, .portfolio__controls-next {
  flex: 0 0 auto;
  width: 42px;
  height: 24px;
  background: url(../assets/next.svg) center no-repeat;
  cursor: pointer;
}
.portfolio__controls-prev {
  transform: rotate(180deg);
}
.portfolio__controls-pagination {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000;
  text-align: center;
}
.portfolio__controls-pagination .swiper-pagination-current {
  font-weight: 900;
  font-size: 20px;
}

.order-catalog {
  margin: 80px 0;
}
@media (max-width: 576px) {
  .order-catalog {
    margin: 40px 0;
  }
}
.order-catalog__form {
  display: flex;
  align-items: center;
  gap: 16px 24px;
  padding: 64px;
  border-radius: 8px;
  background-color: #ffe38a;
}
@media (max-width: 1200px) {
  .order-catalog__form {
    flex-wrap: wrap;
    padding: 40px 20px;
  }
}
@media (max-width: 992px) {
  .order-catalog__form {
    margin: 0 -20px;
    border-radius: 0;
  }
}
.order-catalog__form-title {
  flex: 0 1 auto;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 1200px) {
  .order-catalog__form-title {
    flex: 1 1 100%;
  }
}
@media (max-width: 768px) {
  .order-catalog__form-title {
    font-size: 20px;
  }
}
.order-catalog__form-input {
  flex: 1 0 auto;
  padding: 8px 0 16px;
  box-sizing: border-box;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  border: none;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}
@media (max-width: 768px) {
  .order-catalog__form-input {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .order-catalog__form-input {
    flex: 1 1 100%;
  }
}
.order-catalog__form-input::-moz-placeholder {
  color: #000;
}
.order-catalog__form-input::placeholder {
  color: #000;
}
.order-catalog__form-submit {
  flex: 1 0 240px;
  max-width: 240px;
  padding: 12px 24px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .order-catalog__form-submit {
    flex-shrink: 1;
    max-width: none;
  }
}
.order-catalog__form-submit:hover {
  background-color: #d9d3ea;
}
.order-catalog__form-disclaimer {
  max-width: 240px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 992px) {
  .order-catalog__form-disclaimer {
    flex: 1 1 100%;
    max-width: none;
  }
}
.order-catalog__form-disclaimer-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.gallery {
  position: relative;
  margin: 120px 0;
  padding: 40px 0 0;
  overflow: hidden;
}
@media (max-width: 992px) {
  .gallery {
    margin: 80px 0;
    padding: 40px 0 88px;
  }
}
@media (max-width: 576px) {
  .gallery {
    margin: 60px 0 70px;
  }
}
.gallery__tag {
  position: absolute;
  top: 124px;
  left: 50%;
  z-index: 20;
  max-width: 400px;
  padding: 25px 0 25px 116px;
  box-sizing: border-box;
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 80%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  background-color: #6fc6c6;
  transform: rotate(-90deg) translate3d(0, -1020px, 0);
}
@media screen and (max-width: 1780px) {
  .gallery__tag {
    transform: rotate(-90deg) translate3d(-300px, -820px, 0);
  }
}
@media (max-width: 1400px) {
  .gallery__tag {
    position: relative;
    top: auto;
    left: auto;
    padding: 20px 0 20px 40px;
    margin: 0 -20px 32px;
    font-size: 32px;
    transform: none;
  }
}
.gallery__tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 81px;
  background: url(../assets/circles-bg.svg) top left/46px repeat;
}
@media (max-width: 1400px) {
  .gallery__tag::before {
    width: 32px;
    background-size: 40px;
  }
}
.gallery__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
.gallery__description {
  max-width: 680px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000;
}
@media (max-width: 992px) {
  .gallery__description {
    max-width: none;
  }
}
.gallery__controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  gap: 24px;
  height: 64px;
}
@media (max-width: 992px) {
  .gallery__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.gallery__controls::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  background-color: #b2dada;
  transform: translate3d(-50%, -50%, 0);
}
.gallery__controls-prev, .gallery__controls-next {
  flex: 0 0 auto;
  width: 152px;
  height: 32px;
  background: url(../assets/next-long.svg) right center/152px no-repeat;
  cursor: pointer;
}
@media (max-width: 576px) {
  .gallery__controls-prev, .gallery__controls-next {
    width: 132px;
  }
}
.gallery__controls-prev {
  transform: rotate(180deg);
}
.gallery__slider {
  margin-top: 76px;
}
@media (max-width: 992px) {
  .gallery__slider {
    margin-top: 34px;
  }
}
.gallery__slider .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
}
.gallery__slider .swiper-slide img {
  display: inline-block;
  max-width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .gallery__slider .swiper-slide img {
    height: 400px;
  }
}

.steps {
  margin: 120px 0;
  overflow: hidden;
}
@media (max-width: 992px) {
  .steps {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .steps {
    margin: 60px 0;
  }
}
.steps .container {
  position: relative;
}
.steps .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  display: block;
  width: 778px;
  height: 720px;
  background: url(../assets/kroshka.png) center/cover no-repeat;
  transform: translate3d(-150px, -20px, 0);
}
.steps__content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.steps__card {
  flex: 0 0 calc(25% - 18px);
}
@media (max-width: 992px) {
  .steps__card {
    flex: 0 0 calc(50% - 12px);
  }
}
@media (max-width: 576px) {
  .steps__card {
    flex: 0 0 100%;
  }
}
.steps__card-figure {
  margin: 0 0 24px;
}
.steps__card-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.steps__card-name {
  margin: 0 0 8px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 768px) {
  .steps__card-name {
    margin: 0 0 6px;
    font-size: 12px;
  }
}
.steps__card-title {
  margin: 0 0 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 768px) {
  .steps__card-title {
    margin: 0 0 12px;
    font-size: 20px;
  }
}
.steps__card-text {
  margin: 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000;
}
@media (max-width: 768px) {
  .steps__card-text {
    font-size: 14px;
  }
}
.steps .order-catalog {
  margin: 64px 0 0;
}
@media (max-width: 576px) {
  .steps .order-catalog {
    margin: 40px 0 0;
  }
}
.steps .order-catalog__form {
  background-color: #d9d3ea;
}
.steps .order-catalog__form-submit {
  background-color: #ffe38a;
}
.steps .order-catalog__form-submit:hover {
  background-color: #ffffff;
}

.advantages {
  margin: 120px 0;
  padding: 32px 0;
}
@media (max-width: 1200px) {
  .advantages {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .advantages {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .advantages {
    margin: 60px 0;
  }
}
.advantages__content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 120px;
}
@media (max-width: 1200px) {
  .advantages__content {
    flex-direction: column;
    gap: 32px;
  }
}
.advantages__info {
  flex: 0 1 504px;
}
@media (max-width: 1200px) {
  .advantages__info {
    flex: 0 1 auto;
  }
}
.advantages__card {
  position: relative;
  min-height: 64px;
  padding-left: 88px;
  margin: 40px 0 0;
}
.advantages__card-figure {
  position: absolute;
  top: 0;
  left: 0;
}
.advantages__card-figure-image {
  display: block;
  max-width: 100%;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__card-title {
  margin: 0 0 4px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}
@media (max-width: 768px) {
  .advantages__card-title {
    font-size: 16px;
  }
}
.advantages__card-text {
  margin: 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}
@media (max-width: 768px) {
  .advantages__card-text {
    font-size: 14px;
  }
}
.advantages__video {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 1 680px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .advantages__video {
    flex: 0 1 auto;
    flex-direction: column;
    width: 100%;
    max-width: 680px;
  }
}
.advantages__video::before {
  content: "";
  position: absolute;
  top: -32px;
  left: -88px;
  bottom: -32px;
  display: block;
  height: calc(100% + 64px);
  aspect-ratio: 152/696;
  background: url(../assets/pink-tag-v.svg) center/cover no-repeat;
}
@media (max-width: 1200px) {
  .advantages__video::before {
    position: static;
    width: calc(100% + 40px);
    height: auto;
    margin: 0 -20px;
    aspect-ratio: 696/152;
    background-image: url(../assets/pink-tag-h.svg);
  }
}
.advantages__video iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 34/25;
  border-radius: 8px;
}

.good-info {
  margin: 0 0 120px;
  padding: 273px 0 0;
  background: url(../assets/details-bg.webp) top -200px center repeat-x, linear-gradient(0deg, #fff 40%, #cfe4f2 100%);
}
@media (max-width: 992px) {
  .good-info {
    margin: 0 0 80px;
    padding: 240px 0 0;
  }
}
@media (max-width: 768px) {
  .good-info {
    padding: 210px 0 0;
  }
}
@media (max-width: 576px) {
  .good-info {
    padding: 175px 0 0;
    margin: 0 0 60px;
  }
}
.good-info .title {
  max-width: 1200px;
}
@media (max-width: 576px) {
  .good-info .title {
    font-size: 28px;
  }
}
.good-info__content {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
@media (max-width: 1200px) {
  .good-info__content {
    gap: 24px;
  }
}
@media (max-width: 992px) {
  .good-info__content {
    display: block;
  }
}
.good-info__slider {
  flex: 0 1 auto;
  max-width: 680px;
  width: 100%;
}
@media (max-width: 1200px) {
  .good-info__slider {
    max-width: 480px;
  }
}
@media (max-width: 992px) {
  .good-info__slider {
    max-width: none;
    margin: 0 0 40px;
  }
}
.good-info__slider-main {
  margin: 0 0 32px;
}
@media (max-width: 992px) {
  .good-info__slider-main {
    margin: 0 0 10px;
  }
}
.good-info__slider-main .swiper-slide img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 7/5;
  -o-object-fit: cover;
     object-fit: cover;
}
.good-info__slider-thumbs .swiper-slide img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 15/10;
  -o-object-fit: cover;
     object-fit: cover;
}
.good-info__details {
  flex: 0 1 590px;
}
.good-info__details-article {
  margin: 0 0 12px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #898890;
}
.good-info__details-text {
  margin: 0 0 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #000;
}
@media (max-width: 768px) {
  .good-info__details-text {
    font-size: 16px;
  }
}
.good-info__details-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 8px;
  padding: 40px;
  border-radius: 8px;
  background-color: #ffe38a;
}
@media (max-width: 768px) {
  .good-info__details-info {
    padding: 24px;
  }
}
.good-info__details-info-item {
  position: relative;
  padding-left: 36px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
@media (max-width: 768px) {
  .good-info__details-info-item {
    font-size: 16px;
  }
}
.good-info__details-info-item b {
  font-weight: 700;
}
.good-info__details-info-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.good-info__details-info-item_size::before {
  background-image: url(../assets/size.svg);
}
.good-info__details-info-item_pieces::before {
  background-image: url(../assets/pieces.svg);
}
.good-info__details-info-item_weight::before {
  background-image: url(../assets/weight.svg);
}
.good-info__details-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0 24px;
  padding: 40px;
  border-radius: 8px;
  background-color: #d9d3ea;
}
@media (max-width: 768px) {
  .good-info__details-form {
    gap: 0 16px;
    padding: 24px;
  }
}
.good-info__details-form-title {
  flex: 1 1 100%;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 768px) {
  .good-info__details-form-title {
    font-size: 20px;
  }
}
.good-info__details-form-description {
  flex: 1 1 100%;
  margin: 0 0 24px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 768px) {
  .good-info__details-form-description {
    margin: 0 0 16px;
    font-size: 16px;
  }
}
.good-info__details-form-input {
  flex: 1 0 auto;
  margin: 0 0 24px;
  padding: 8px 0 16px;
  box-sizing: border-box;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  border: none;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}
@media (max-width: 768px) {
  .good-info__details-form-input {
    margin: 0 0 16px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .good-info__details-form-input {
    flex: 1 1 100%;
  }
}
.good-info__details-form-input::-moz-placeholder {
  color: #000;
}
.good-info__details-form-input::placeholder {
  color: #000;
}
.good-info__details-form-submit {
  flex: 1 0 240px;
  max-width: 240px;
  margin: 0 0 24px;
  padding: 12px 32px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 8px;
  background-color: #ffe38a;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .good-info__details-form-submit {
    margin: 0 0 16px;
  }
}
@media (max-width: 576px) {
  .good-info__details-form-submit {
    flex-shrink: 1;
    max-width: none;
  }
}
.good-info__details-form-submit:hover {
  background-color: #ffffff;
}
.good-info__details-form-disclaimer {
  flex: 1 1 100%;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.5);
}
.good-info__details-form-disclaimer-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.good-advantages {
  margin: 120px 0;
}
@media (max-width: 992px) {
  .good-advantages {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .good-advantages {
    margin: 60px 0;
  }
}
.good-advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 64px;
  margin: 0;
  padding: 0 40px;
  list-style-type: none;
}
@media (max-width: 1200px) {
  .good-advantages__list {
    gap: 12px 24px;
    padding: 0;
  }
}
.good-advantages__list-item {
  display: flex;
  align-items: center;
  flex: 0 0 calc(50% - 32px);
  gap: 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #000;
}
@media (max-width: 1200px) {
  .good-advantages__list-item {
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .good-advantages__list-item {
    flex: 1 1 100%;
  }
}
.good-advantages__list-item::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  height: 20px;
  width: 20px;
  background: url(../assets/check-green.svg) center/cover no-repeat;
}

.good-price {
  margin: 120px 0;
}
@media (max-width: 992px) {
  .good-price {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .good-price {
    margin: 60px 0;
  }
}
.good-price__content {
  overflow: auto;
}
.good-price__table {
  width: 100%;
  vertical-align: top;
  border: none;
}
.good-price__table > tbody {
  vertical-align: inherit;
}
.good-price__table > tbody td {
  padding: 32px 24px 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #000;
  border-bottom: 1px solid #e5e8ec;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .good-price__table > tbody td {
    padding: 12px 20px;
    font-size: 16px;
  }
}
.good-price__table > thead {
  text-align: left;
  vertical-align: middle;
  border-radius: 8px;
}
.good-price__table > thead th {
  padding: 24px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #000;
  white-space: nowrap;
  background-color: #cccccc;
}
@media (max-width: 992px) {
  .good-price__table > thead th {
    padding: 18px 20px;
    font-size: 16px;
  }
}

.good-similar {
  margin: 120px 0;
}
@media (max-width: 992px) {
  .good-similar {
    margin: 80px 0;
  }
}
@media (max-width: 576px) {
  .good-similar {
    margin: 60px 0;
  }
}
.good-similar__card {
  padding: 25px 24px 32px;
  border: 1px solid #e5e8ec;
  border-radius: 8px;
}
.good-similar__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 57px;
}
.good-similar__card-figure-image {
  display: block;
  max-width: 100%;
  width: 200px;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.good-similar__card-title {
  margin: 0 0 32px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #0c0d12;
}
@media (max-width: 576px) {
  .good-similar__card-title {
    margin: 0 0 24px;
    font-size: 20px;
  }
}
.good-similar__card-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}
@media (max-width: 576px) {
  .good-similar__card-info {
    margin: 0 0 12px;
    font-size: 14px;
  }
}
.good-similar__card-info::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.good-similar__card-info_size::before {
  background-image: url(../assets/size.svg);
}
.good-similar__card-info_pieces::before {
  background-image: url(../assets/pieces.svg);
}
.good-similar__card-info_weight::before {
  background-image: url(../assets/weight.svg);
}
.good-similar__card-price {
  margin: 32px 0 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #0c0d12;
}
@media (max-width: 576px) {
  .good-similar__card-price {
    margin: 24px 0 0;
    font-size: 16px;
  }
}
.good-similar__controls {
  display: none;
}
@media (max-width: 768px) {
  .good-similar__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 24px 0 0;
  }
}
.good-similar__controls-prev, .good-similar__controls-next {
  flex: 0 0 auto;
  width: 42px;
  height: 24px;
  background: url(../assets/next.svg) center no-repeat;
  cursor: pointer;
}
.good-similar__controls-prev {
  transform: rotate(180deg);
}
.good-similar__controls-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000;
  text-align: center;
}
.good-similar__controls-pagination .swiper-pagination-bullet {
  flex: 0 0 auto;
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 !important;
  background-color: #e5e8ec;
  opacity: 1;
}
.good-similar__controls-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: #ffb1a6;
}