@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Regular.eot');
  src: local('Cera Pro Regular'), local('CeraPro-Regular'),
    url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Light.eot');
  src: local('Cera Pro Light'), local('CeraPro-Light'),
    url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Medium.eot');
  src: local('Cera Pro Medium'), local('CeraPro-Medium'),
    url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Bold.eot');
  src: local('Cera Pro Bold'), local('CeraPro-Bold'),
    url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Black.eot');
  src: local('Cera Pro Black'), local('CeraPro-Black'),
    url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CeraPro-Black.woff') format('woff'),
    url('../fonts/CeraPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: 'Cera Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: $black;
  background-color: $white;
}

a,
button,
input,
textarea {
  font-family: 'Cera Pro', sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

