.portfolio {
  margin: 120px 0 80px;
  overflow: hidden;

  @include laptop {
    margin: 80px 0;
  }

  @include mobile {
    margin: 60px 0 40px;
  }

  & .title {
    max-width: 480px;
  }

  &__content {
    & .swiper {
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        @include desktopsm {
          gap: 16px;
        }

        @include tablet {
          flex-wrap: nowrap;
          gap: 0;
        }

        @media screen and (min-width: 768.1px) {
          transform: none !important;
        }
      }

      &-slide {
        flex: 0 0 calc(100% / 4 - 24px / 4 * 3);

        @include desktopsm {
          flex: 0 0 calc(100% / 3 - 24px / 3 * 2);
        }

        @include laptop {
          flex: 0 0 calc(100% / 2 - 24px / 2 * 1);
        }

        @include laptop {
          flex-basis: auto;
          width: 100%;
        }

        @media screen and (min-width: 768.1px) {
          margin: 0 !important;
        }
      }
    }
  }

  &__card {
    padding: 25px 24px 32px;
    border: 1px solid #e5e8ec;
    border-radius: 8px;

    &-figure {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 57px;

      &-image {
        display: block;
        max-width: 100%;
        width: 200px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
      }
    }

    &-title {
      margin: 0 0 32px;
      font-family: 'Cera Pro', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      color: #0c0d12;

      @include mobile {
        margin: 0 0 24px;
        font-size: 20px;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0 0 16px;
      font-family: 'Cera Pro', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #000;

      @include mobile {
        margin: 0 0 12px;
        font-size: 14px;
      }

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &_size {
        &::before {
          background-image: url(../assets/size.svg);
        }
      }

      &_pieces {
        &::before {
          background-image: url(../assets/pieces.svg);
        }
      }

      &_weight {
        &::before {
          background-image: url(../assets/weight.svg);
        }
      }
    }

    &-price {
      margin: 32px 0 0;
      font-family: 'Cera Pro', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: #0c0d12;

      @include mobile {
        margin: 24px 0 0;
        font-size: 16px;
      }
    }
  }

  &__controls {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      margin: 24px 0 0;
    }

    &-prev,
    &-next {
      flex: 0 0 auto;
      width: 42px;
      height: 24px;
      background: url(../assets/next.svg) center no-repeat;
      cursor: pointer;
    }

    &-prev {
      transform: rotate(180deg);
    }

    &-pagination {
      font-family: 'Cera Pro', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #000;
      text-align: center;

      & .swiper-pagination-current {
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
}
